/* TODO: All numbers to either percentages or px, not both! */

h1, h2, p, a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2 {
    vertical-align: middle; 
    line-height: 0%;
}

h1 {
    font-size: 500%;
    /* padding: 40px 0px 20px 0px; */
    padding: 0.40em 0 0.25em 0; /* 35 -> 40 */
}

footer {
    text-align: center;
}

td {
    padding-right: 5px;
}

a.top, footer {
    font-size: 85%;
}

a:link, a:visited {
    color: white;
    text-decoration: underline;
}

a:hover {
    color: white;
    text-decoration: none;
}

div.bmarg {
    margin: 0 0 1em 0;
}

.tbox {
    background-color: rgb(46, 117, 182);
    color: white;
    padding: 15px 30px;
}

.mbox {
    padding: 5px 30px;
    border: 4px solid rgb(46, 117, 182);
}

.pic {
    width: 70px;
    height: 70px;
    padding: 15px;
    border: 2px solid black;
}

.pic2 {
    /* width: 200px; */
    width: 14em;
    /* height: 200px; */
    height: 14em;
    border: 2px solid white;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
