h1, p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a:link, a:visited {
    color: white;
    text-decoration: underline;
}

a:hover {
    color: white;
    text-decoration: none;
}

#top {
    background-color: rgb(46, 117, 182);
    color: white;
    padding: 15px 35px;
}

#mid {
    padding: 15px 35px;
    border: 4px solid rgb(46, 117, 182);
}

#pics {
    width: 70px;
    height: 70px;
    padding: 15px;
    border: 2px solid black;
}