h1, p, a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a.top, footer {
    font-size: 75%;
}

footer {
    text-align: center;
}

a:link, a:visited {
    color: white;
    text-decoration: underline;
}

a:hover {
    color: white;
    text-decoration: none;
}

#top {
    background-color: rgb(46, 117, 182);
    color: white;
    padding: 15px 30px;
}

.box {
    padding: 15px 30px;
    border: 4px solid rgb(46, 117, 182);
}

.pic {
    width: 70px;
    height: 70px;
    padding: 15px;
    border: 2px solid black;
}