.content-cent-heading-container {
  text-align: center;
  padding: 0 1em 1.5em 1em;
}

.content-cent-heading-icon {
  max-width: 150px;
  max-height: 150px;
}

.content-cent-heading-heading {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 0.25em;
}