.modal-menu-item {
  display: flex;
  padding-bottom: 1.5em;
}

.modal-menu-item-image {
  width: 48px;
  height: 72px;
  margin-right: 1em;
  transform: scale(0.5);
  visibility: hidden;
}

.modal-menu-item-active .modal-menu-item-image {
  visibility: visible;
}

.modal-menu-item-label {
  font-size: 64px;
  font-weight: bold;
  margin: 0;
}

@media only screen and (min-width: 360px) and (max-width: 540px) {

  .modal-menu-item {
    padding-bottom: 1em;
  }

  .modal-menu-item-image {
    display: none;
  }
  
  .modal-menu-item-label {
    font-size: 48px;
  }

}

@media only screen and (max-width: 360px) {

  .modal-menu-item {
    padding-bottom: 1em;
  }

  .modal-menu-item-image {
    display: none;
  }
  
  .modal-menu-item-label {
    font-size: 36px;
  }

}