* {
  color: white;
}

.heading {
  font-size: 36px;
  font-weight: bold;
  margin: 0;

  animation: fadein 1s;
}

.subheading {
  font-size: 18px;
  margin: 0;
  
  animation: fadein 2s;
}

.text-container {
  padding: 1em 0;
}