a {
  color: white;
}

.text {
  background-color: black;
  color: white;
  font-weight: bold;
  position: absolute;
}

.primary {
  font-size: 1.5em;
  padding: 0.75em;
  top: 15%;
}

.title {
  font-size: 1em;
  margin: 0.5em 0;
  padding: 0 1em;
  top: 2%;
}

@media only screen and (min-width: 680px) and (max-width: 1280px) {

  .primary {
    font-size: 1.5vw;
  }
  
  .title {
    font-size: 1vw;
  }

}

@media only screen and (min-width: 540px) and (max-width: 680px) {

  .primary {
    font-size: 1.75vw;
  }
  
  .title {
    font-size: 1.25vw;
  }

}

@media only screen and (min-width: 480px) and (max-width: 540px) {

  .primary {
    font-size: 2vw;
  }
  
  .title {
    font-size: 1.5vw;
  }

}