.hamburger-container {
  margin: auto 0;

  animation: fadein 1s;
  transform: scale(1.0);
  transition: all 0.25s;
}

.hamburger-container-padded {
  padding: 1em 0;
}

.hamburger-container:hover {
  transform: scale(1.15);
  transition: all 0.25s;
}

/* ======================================================================== */

.hamburger-bar {
  background-color: white;
  height: 5px;
  width: 36px;

  margin-bottom: 4px;
  opacity: 1;
  transform: rotate(0deg);
  transition: transform 0.25s, margin-bottom 0.25s 0.25s, opacity 0.25s 0.25s;
}

.hamburger-cross-1 {
  background-color: white;
  height: 5px;
  width: 36px;

  margin-bottom: -4px;
  transform: rotate(45deg);
  transition: margin-bottom 0.25s, transform 0.25s 0.25s;
}

.hamburger-cross-2 {
  background-color: white;
  height: 5px;
  width: 36px;

  margin-bottom: 4px;
  transform: rotate(-45deg);
  transition: margin-bottom 0.25s, transform 0.25s 0.25s;
}

.hamburger-bar-invisible {
  opacity: 0;
  transform: opacity 0.25s;
}