.content-phototext-container {
  display: flex;
  padding-bottom: 1.5em;
}

.content-phototext-photo {
  background-color: white;
  width: 33%;
  padding-bottom: 18.5625%;
}

.content-phototext-text {
  font-size: 22px;
  margin-left: 1em;
}

@media only screen and (max-width: 768px) {

  .content-phototext-container {
    display: block;
    padding-bottom: 1.5em;
  }

  .content-phototext-photo {
    background-color: white;
    width: 100%;
    padding-bottom: 56.25%;
  }

  .content-phototext-text {
    margin-left: 0;
    margin-top: 1em;
  }

}