.content-phototext-container {
  display: flex;
  padding-bottom: 1.5em;
}

.content-phototext-photo {
  background-color: white;
  min-width: 33vw;
  min-height: 18.5625vw;
}

.content-phototext-text {
  font-size: 22px;
  margin-left: 1em;
}

@media only screen and (max-width: 640px) {

  .content-phototext-container {
    display: block;
    padding-bottom: 1.5em;
  }

  .content-phototext-photo {
    background-color: white;
    min-width: 100vw;
    min-height: 56.25em;
  }

  .content-phototext-text {
    font-size: 22px;
    margin-left: 0;
    margin-top: 1em;
  }

}