.content-phototext-container {
  display: flex;
  padding-bottom: 1em;
}

.content-phototext-photo {
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 33%;
  padding-bottom: 18.5625%;
}

.content-phototext-text {
  margin-left: 1em;
}

.content-phototext-title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 0.1em;
}

.content-phototext-subtitle {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.content-phototext-description {
  font-size: 20px;
}

@media only screen and (max-width: 960px) {

  .content-phototext-container {
    display: block;
  }

  .content-phototext-photo {
    background-color: white;
    width: 100%;
    padding-bottom: 56.25%;
  }

  .content-phototext-text {
    margin-left: 0;
    margin-top: 1em;
  }

}